[Unit]
Description=Plank

[Service]
ExecStart=/usr/local/bin/xeventbind resolution /opt/restart_plank.sh
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target